<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.rs.core.mapper.RsUserPasswordMapper">
	<resultMap id="result_map" type="org.rs.core.beans.RsUserPassword">
		<result column="YHBH" property="yhbh"/>
		<result column="DLMM" property="dlmm"/>
		<result column="CJSJ" property="cjsj"/>
		<result column="CJRBH" property="cjrbh"/>
		<result column="CJRMC" property="cjrmc"/>
	</resultMap>
	<sql id="sqlColumns">
		YHBH,DLMM,CJSJ,CJRBH,CJRMC
	</sql>
	<sql id="sqlWhere">
		<where>
			<if test='params.yhbh !=null and params.yhbh !=""'>AND YHBH=#{params.yhbh}</if>
			<if test='params.dlmm !=null and params.dlmm !=""'>AND DLMM=#{params.dlmm}</if>
			<if test="params.startCjsj != null " >AND CJSJ &gt;= #{params.startCjsj}</if>
			<if test="params.endCjsj != null " >AND CJSJ &lt;= #{params.endCjsj}</if>
			<if test='params.cjrbh !=null and params.cjrbh !=""'>AND CJRBH=#{params.cjrbh}</if>
			<if test='params.cjrmc !=null and params.cjrmc !=""'>AND CJRMC=#{params.cjrmc}</if>
			<if test='params.whereCause !=null and params.whereCause !=""'>AND ${params.whereCause}</if>
		</where>
	</sql>
	<select id="queryBeanList" resultMap="result_map" parameterType="java.util.Map" flushCache="true">
		SELECT <include refid="sqlColumns"/> FROM RS_USER_PASSWORD <include refid="sqlWhere"/>
		<if test='params.orderCause !=null and params.orderCause !=""'> ${params.orderCause}</if>
	</select>
	<select id="queryBeanById" resultMap="result_map" flushCache="true">
		SELECT <include refid="sqlColumns"/> FROM RS_USER_PASSWORD WHERE YHBH=#{yhbh}
	</select>
	<select id="queryBeanForUpdateById" resultMap="result_map" flushCache="true">
		SELECT <include refid="sqlColumns"/> FROM RS_USER_PASSWORD WHERE YHBH=#{yhbh} FOR UPDATE
	</select>
	<insert id="insertBean" parameterType="org.rs.core.beans.RsUserPassword">
		INSERT INTO RS_USER_PASSWORD(<include refid="sqlColumns"/>)
		VALUES(#{yhbh,jdbcType=VARCHAR},#{dlmm,jdbcType=VARCHAR},#{cjsj,jdbcType=TIMESTAMP},#{cjrbh,jdbcType=VARCHAR},#{cjrmc,jdbcType=VARCHAR})
	</insert>
	<update id="updateBean" parameterType="org.rs.core.beans.RsUserPassword">
		UPDATE RS_USER_PASSWORD SET
		DLMM=#{dlmm,jdbcType=VARCHAR},CJSJ=#{cjsj,jdbcType=TIMESTAMP},CJRBH=#{cjrbh,jdbcType=VARCHAR},CJRMC=#{cjrmc,jdbcType=VARCHAR}
		WHERE YHBH=#{yhbh}
	</update>
	<update id="updateChkBean" parameterType="org.rs.core.beans.RsUserPassword">
		UPDATE RS_USER_PASSWORD
		<trim prefix="SET" suffixOverrides=",">
			<if test='dlmm !=null '>DLMM=#{dlmm,jdbcType=VARCHAR},</if>
			<if test='cjsj !=null '>CJSJ=#{cjsj,jdbcType=TIMESTAMP},</if>
			<if test='cjrbh !=null '>CJRBH=#{cjrbh,jdbcType=VARCHAR},</if>
			<if test='cjrmc !=null '>CJRMC=#{cjrmc,jdbcType=VARCHAR},</if>
		</trim>
		WHERE YHBH=#{yhbh}
	</update>
	<delete id="deleteBeanById">
		DELETE FROM RS_USER_PASSWORD where YHBH=#{yhbh}
	</delete>
	<delete id="deleteBeanByWhereCause">
		DELETE FROM RS_USER_PASSWORD where ${whereCause}
	</delete>
</mapper>
